.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/uploads/tmp
/coverage/
/spec/tmp
**.orig

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# Ignore environment settings
.env

# Ignore Byebug command history file.
.byebug_history

# jetbrains
/.idea

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
